* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  animation: bodyAnimate 5s linear 0s infinite normal forwards;
}

@keyframes bodyAnimate {
	0% {
		background-color: black;
	}

  50% {
		background-color: #242424;
	}

	100% {
		background-color: black;
	}
}

.section {
  min-height: 100vh;
  padding: 50px 0;
  border-bottom: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-main-title {
  font-size: 70px;
  color: white;
  font-weight: 800;
  text-shadow: 5px 5px 3px rgb(159 159 159);
  margin-bottom: 100px;
}

.header-title {
  font-size: 70px;
  color: white;  
  font-weight: 800;
  text-shadow: 5px 5px 3px rgb(159 159 159);
  margin-bottom: 30px;
}

.header-img {
  width: 50%;
  display: block;
  border-radius: 10px;
}
/* .header-desc {
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #dadada7d;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 50px;
} */

.hz-title {
  font-size: 50px;
  margin-bottom: 50px;
  color: white;
}

.hz-description {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.hz-2 h2 {
  text-align: center;
}

.messages {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

#slider-1-m {
  display: none;
}

.message {
  font-weight: 300;
  font-size: 20px;
}

.message:not(:last-child) {
  margin-bottom: 30px;
}

.carousel img {
  min-height: 500px;
  height: 500px;
  object-fit: cover;
  width: fit-content !important;
  margin: 0 auto;
  border-radius: 10px;
}

.img {
  width: 450px;
  height: 500px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 2px 0px #cacaca26;
}

.img-2 {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.img-2 img {
  border-radius: 0px;
  box-shadow: none;
}

@media(max-width: 1240px) {
  .container {
    width: 900px;
  }

  .header-title {
    font-size: 50px;
    margin-right: 20px;
  }
}

@media(max-width: 930px) {
  .container {
    width: 500px;
  }

  .header .container {
    flex-direction: column;
  }

  .header-title {
    text-align: center;
    margin-right: 0;
  }
}

@media(max-width: 540px) {
  .container {
    width: 330px;
  }

  #slider-1 {
    display: none;
  }

  #slider-1-m {
    display: block;
  }

  .header-main-title {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .header-title {
    font-size: 35px;
    margin-bottom: 50px;
  }

  .hz-title {
    font-size: 35px;
  }
}